@use "../abstracts/" as *;

.contact-us {
  max-width: 1920px;
  padding: 60px 148px;
  min-height: calc(100vh - 606px);

  * {
    font-family: Open Sans;
  }
  .input {
    margin-bottom: 16px;
  }
  .submit-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
}

@include media-breakpoint-down(large) {
  .contact-us {
    padding: 60px 24px;
  }
}
