@use "../abstracts/" as *;

#content {
    .page-header {
        .entry-title {
            display: none;
        }
    }
}

.sfwd-container {
    display: flex;
    justify-content: center;
    .sfwd-small-screen {
        padding: 60px 30px 140px;

        .title {
            .cfa-title {
                font-size: 20px;
                line-height: 24px;
                text-align: left;

                &::after {
                    left: unset;
                    transform: unset;
                }
            }
        }

        .helper {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            font-family: Open Sans;
        }

        @include media-breakpoint-up(desktop) {
            display: none;
        }

    }

    .sfwd-large-screen {
        display: none;

        @include media-breakpoint-up(desktop) {
            display: block;
        }

        .content {
            display: flex;
            flex-direction: row;

            .progress {
                width: 340px;
                padding: 100px 60px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .back-to-course {
                    .link {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        color: $color-shades-black;
                        font-family: Open Sans;

                        .back-to-course__text {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px;
                            white-space: nowrap;
                        }
                    }
                }

                .course-details {
                    .course-title {
                        color: $color-shades-black;
                        font-family: Open Sans;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 36px;
                        margin-bottom: 10px;
                    }

                    .progress-bar {
                        .lesson-count {
                            color: $color-shades-black;
                            font-family: Open Sans;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 21px;
                        }


                        .ld-progress {
                            .ld-progress-stats {
                                .ld-progress-percentage {
                                    color: $color-shades-black;
                                    text-align: center;
                                    font-family: Open Sans;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 21px;
                                }

                                .ld-progress-steps {
                                    display: none;
                                }
                            }

                            .ld-progress-bar {
                                width: 260px;

                                .ld-progress-bar-percentage {
                                    background-image: linear-gradient(to right,
                                            #ec1e27,
                                            #d6004d,
                                            #ad006b,
                                            #73007e,
                                            #0c1a81,
                                        );
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }

                .course-carriculum {
                    .ld-item-list {
                        margin: 0;

                        .ld-section-heading {
                            display: none;
                        }

                        .ld-item-list-items {
                            display: flex;
                            flex-direction: column;

                            .ld-item-list-item {
                                border: 1px solid $color-neutral-200;
                                border-radius: 0;
                                margin: 0;
                                border-bottom: none;

                                &:last-child {
                                    border-bottom: 1px solid $color-neutral-200;
                                }

                                .ld-item-list-item-preview {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;

                                    .ld-item-name {
                                        .ld-status-icon {
                                            display: none;
                                        }

                                        .ld-item-title {
                                            color: $color-shades-black;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: 19px;

                                            .ld-item-components {
                                                display: none;
                                            }
                                        }
                                    }

                                    .ld-item-details {
                                        .ld-expand-button {
                                            .ld-icon {
                                                color: $color-shades-black;
                                                background-color: $color-shades-white !important;
                                                border: none;
                                            }

                                            .ld-text {
                                                display: none;
                                            }
                                        }
                                    }

                                }

                                .ld-item-list-item-expanded {
                                    background: $color-neutral-50;

                                    .ld-table-list-header {
                                        display: none;
                                    }

                                    .ld-table-list-items {
                                        padding: 0;

                                        .ld-table-list-item {
                                            margin: 0;
                                            padding: 0 20px;

                                            .ld-table-list-item-preview {
                                                align-items: center;
                                                gap: 10px;

                                                .ld-topic-title {
                                                    color: $color-shades-black;
                                                    font-size: 16px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 26px;
                                                    font-family: Open Sans;
                                                }

                                                .ld-status-icon {
                                                    margin: 0;

                                                    &.ld-status-complete {
                                                        color: $color-shades-white;
                                                        background-color: $color-primary-700;
                                                    }

                                                    &.ld-status-incomplete {
                                                        border-color: $color-secondary-500;
                                                    }
                                                }

                                                .ld-item-title {
                                                    color: $color-shades-black;
                                                    font-size: 16px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 26px;
                                                    font-family: Open Sans;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .sfwd-lessons {
                padding: 80px 60px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: flex-start;
                width: 812px;

                &.not-quiz {
                    width: 100% !important;
                    padding: 0;
                }

                @include media-breakpoint-up(large) {
                    width: 1040px;
                }

                &__title {
                    width: 100%;
                    &__text {
                        color: $color-primary-700;
                        font-family: Open Sans;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 48px;
                    }
                }

                &__content {
                    color: $color-shades-black;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    width: 100%;

                    a {
                        color: $color-primary-700;
                        font-family: Open Sans;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }

                    .learndash {
                        .learndash-wrapper {
                            .ld-quiz-status {
                                display: none;
                            }

                            .wpProQuiz_content {
                                .wpProQuiz_text {
                                    .wpProQuiz_button {
                                        border-radius: 0;
                                        display: flex;
                                        padding: 8px 16px;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 8px;
                                        border: 1px solid $color-primary-800;
                                        background: $color-primary-50;
                                        color: $color-primary-700;
                                        font-family: Open Sans;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 800;
                                        line-height: 19px;
                                        letter-spacing: 1.6px;
                                        text-transform: uppercase;
                                    }
                                }

                                .wpProQuiz_quiz {
                                    .wpProQuiz_list {
                                        .wpProQuiz_listItem {
                                            .wpProQuiz_question {
                                                .wpProQuiz_question_text {
                                                    color: $color-neutral-900;
                                                    font-family: Open Sans;
                                                    font-size: 18px;
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    line-height: 24px;
                                                }

                                                .wpProQuiz_questionList {
                                                    .wpProQuiz_questionListItem {
                                                        label {
                                                            border-radius: 0;
                                                            border: 1px solid var($color-neutral-200, #CCCFDA);
                                                            background: $color-shades-white;
                                                            box-shadow: 0px 1px 0px 0px #E2E8F0;

                                                            &.is-selected {
                                                                border-color: $color-primary-700;
                                                            }
                                                        }

                                                        &.wpProQuiz_answerIncorrect {
                                                            label {
                                                                border-color: $color-secondary-500;
                                                            }
                                                        }

                                                    }
                                                }
                                            }

                                            .wpProQuiz_response {
                                                background: $color-primary-50;
                                                color: $color-primary-700;
                                            }

                                            .wpProQuiz_button {
                                                &.wpProQuiz_QuestionButton {
                                                    border-radius: 0;
                                                    display: flex;
                                                    padding: 8px 16px;
                                                    justify-content: center;
                                                    align-items: center;
                                                    gap: 8px;
                                                    border: 1px solid $color-primary-800;
                                                    background: $color-primary-50;
                                                    color: $color-primary-700;
                                                    font-family: Open Sans;
                                                    font-size: 16px;
                                                    font-style: normal;
                                                    font-weight: 800;
                                                    line-height: 19px;
                                                    letter-spacing: 1.6px;
                                                    text-transform: uppercase;
                                                }
                                            }
                                        }
                                    }
                                }

                                .wpProQuiz_results {
                                    .wpProQuiz_header {
                                        color: $color-primary-700;
                                        font-family: Open Sans;
                                        font-size: 32px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 48px;
                                    }

                                    .wpProQuiz_points {
                                        background: $color-primary-50;
                                        color: $color-primary-700;
                                    }

                                    .ld-quiz-actions {
                                        .wpProQuiz_button {
                                            border-radius: 0;
                                            display: flex;
                                            padding: 8px 16px;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 8px;
                                            border: 1px solid $color-primary-800;
                                            background: $color-primary-50;
                                            color: $color-primary-700;
                                            font-family: Open Sans;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 800;
                                            line-height: 19px;
                                            letter-spacing: 1.6px;
                                            text-transform: uppercase;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }

                &__navigation {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .nav-link {
                        display: flex;
                        padding: 8px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border: 1px solid $color-primary-800;
                        background: $color-primary-50;

                        .link {
                            color: $color-primary-700;
                            font-family: Open Sans;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 19px;
                            letter-spacing: 1.6px;
                            text-transform: uppercase;
                        }
                    }
                }

                &__footer {
                    width: 100%;

                    &__divider {
                        width: 100%;
                        background: #A9A9A9;
                        height: 1px;
                        border: none;
                    }

                    &__complete {
                        .sfwd-mark-complete {
                            .learndash_mark_complete_button {
                                display: flex;
                                padding: 12px 16px;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;
                                background: $color-primary-700;
                                border: none;
                                color: $color-primary-50;
                                font-family: Open Sans;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 19px;
                                letter-spacing: 1.6px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}

.course-card {
    .card {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 340px;
        border: 0.5px solid $color-neutral-200;
        background-color: $color-shades-white;
        align-self: stretch;

        .course-card-pattern {
            height: 145px;
            background: url('../../../images/CourseCardPatternDark.svg') no-repeat center center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                object-fit: contain;
                background-color: $color-shades-white;
            }
        }

        .course-card-content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 0 0;
            align-self: stretch;

            .course-title {
                color: $color-primary-700;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                font-family: Open Sans;
                text-align: left;
            }

            .course-meta {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 72px;
                text-align: left;

                .course-author {
                    color: $color-secondary-500;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                }

                .course-details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .course-students {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .icon {
                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .value {
                            color: $color-shades-black;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 18px;
                        }
                    }

                    .course-price {
                        background: $color-success-500;
                        color: $color-shades-white;
                        height: 25px;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4px 10px;
                        min-width: 54px;
                    }
                }
            }
        }

    }
}
