@use "../abstracts/" as *;



.ac-learning-path-container {

    &__title {
        padding: 40px 55px;

        &__image {
            display: none;
        }

        &__text {
            .cfa-title {
                font-size: 20px;
                line-height: 24px;
                font-weight: 700;
                text-align: left;
            }

            .cfa-excerpt {
                color: $color-shades-black;
                font-family: Open Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }

    &__content {
        padding: 40px 55px;
        background: $color-neutral-50;

        .courses {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title {
                color: $color-primary-700;
                font-family: Lora;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }

            .content {
                color: $color-shades-black;
                font-family: Open Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }


            .list {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 64px;
                flex-wrap: wrap;

                .individual-course {
                    .course-index {
                        display: none;
                    }

                    .course {
                        .extra-course-details {
                            display: none;
                        }
                    }
                }

                .divider {
                    display: none;
                    width: 100%;
                    height: 1px;
                    background: #8C8FA5;
                }
            }
        }

    }

    &__download {
        display: flex;
        width: 100%;
        padding: 40px 55px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        &:hover {
            .large {
                i {
                    color: $color-primary-700;
                }
            }
        }
    }

    @include media-breakpoint-up(desktop) {

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            &__image {
                display: block;
                margin-right: 16px;
                flex: 1;

                .image {
                    width: 358px;
                    height: 358px;
                }
            }

            &__text {
                flex: 1;
                .cfa-title {
                    font-size: 48px;
                    line-height: 60px;
                }

                .cfa-excerpt {
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }

        &__content {
            padding: 152px 96px 40px;

            .courses {
                gap: 40px;

                .title {
                    font-size: 40px;
                    line-height: 48px;
                }

                .content {
                    font-size: 24px;
                    line-height: 36px;
                }

                .list {
                    flex-direction: column;
                    align-items: flex-start;

                    .individual-course {
                        display: flex;
                        gap: 100px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;

                        .course-index {
                            display: block;
                            color: $color-primary-700;
                            font-family: Lora;
                            font-size: 300px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 54px;
                            opacity: 0.3;
                        }

                        .course {
                            display: flex;
                            gap: 50px;

                            .extra-course-details {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 24px;
                                flex: 1 0 0;
                                text-align: left;

                                .course-title {
                                    color: $color-primary-700 !important;
                                    font-family: Open Sans;
                                    font-size: 28px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 34px;
                                    letter-spacing: -0.56px;
                                    width: 100%;
                                    text-align: left;
                                }

                                .course-excerpt {
                                    color: $color-shades-black;
                                    font-family: Open Sans;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 36px;
                                }
                            }
                        }


                    }

                    .divider {
                        display: block;
                    }
                }
            }

        }

    }

    @include media-breakpoint-up(large) {
        &__title {
            padding: 40px 160px;
            gap: 32px;

            &__image {
                .image {
                    width: 458px;
                    height: 458px;
                }
            }
        }

        &__content {
            padding: 152px 160px 40px;

        }
    }

    #learning {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

}

.pdf-template {
    width: 1440px;

    .template {
        width: 100%;

        &__title {
            padding: 40px 160px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 32px;

            &__image {
                display: block;
                margin-right: 16px;

                .image {
                    width: 458px;
                    height: 458px;
                }
            }

            &__text {
                .cfa-title {
                    font-size: 48px;
                    line-height: 60px;
                    font-weight: 700;
                    text-align: left;
                }

                .cfa-excerpt {
                    color: $color-shades-black;
                    font-family: Open Sans;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                }
            }
        }

        &__content {
            padding: 152px 160px 40px;
            background: $color-neutral-50;

            .courses {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .title {
                    color: $color-primary-700;
                    font-family: Lora;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                }

                .content {
                    color: $color-shades-black;
                    font-family: Open Sans;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                }


                .list {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 64px;
                    flex-wrap: wrap;
                    flex-direction: column;


                    .individual-course {
                        display: flex;
                        gap: 100px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;

                        .course-index {
                            display: block;
                            color: $color-primary-700;
                            font-family: Lora;
                            font-size: 300px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 54px;
                            opacity: 0.3;
                        }

                        .course {
                            display: flex;
                            gap: 50px;

                            .extra-course-details {
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 24px;
                                flex: 1 0 0;
                                text-align: left;

                                .course-title {
                                    color: $color-primary-700 !important;
                                    font-family: Open Sans;
                                    font-size: 28px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 34px;
                                    letter-spacing: -0.56px;
                                    width: 100%;
                                    text-align: left;
                                }

                                .course-excerpt {
                                    color: $color-shades-black;
                                    font-family: Open Sans;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 36px;
                                }
                            }
                        }
                    }

                    .divider {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #8C8FA5;
                    }
                }
            }

        }
    }
}