@use "../abstracts/" as *;


.single-courses {
    font-family: Open Sans;

    .wrapper {
        padding: 60px 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .title-section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                display: flex;
                justify-content: start;

                .cfa-title {
                    text-align: left;
                    font-family: 'Ibarra Real Nova';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;

                    &::after {
                        left: unset;
                        transform: unset;
                    }
                }
            }

            .avatar {
                display: none;

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
            }
        }

        .description {
            color: $color-shades-black;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;

            font-family: Open Sans;
        }


        .price {
            .cfa-price {
                color: $color-primary-700;
                font-size: 33px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                letter-spacing: -0.66px;
                font-family: Open Sans;
            }
        }

        .certificate-text {
            color: $color-shades-black;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            font-family: Open Sans;
        }

        .share {
            .social-icons {
                display: flex;
                gap: 16px;

                .icon-image {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .progress {
            width: 260px;

            .lesson-count {
                color: $color-shades-black;
                font-family: Open Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }


            .ld-progress {
                .ld-progress-stats {
                    .ld-progress-percentage {
                        color: $color-shades-black !important;
                        text-align: center;
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                    }

                    .ld-progress-steps {
                        display: none;
                    }
                }

                .ld-progress-bar {
                    .ld-progress-bar-percentage {
                        background-image: linear-gradient(to right,
                                #ec1e27,
                                #d6004d,
                                #ad006b,
                                #73007e,
                                #0c1a81,
                            );
                        background-color: transparent;
                    }
                }
            }
        }

        .continue {
            .learndash-wrapper {
                .ld-course-resume {

                    &.ld-button {
                        background-color: $color-primary-50 !important;
                        color: $color-primary-700;
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 19px;
                        letter-spacing: 1.6px;
                        text-transform: uppercase;
                        border-radius: 0;
                        width: fit-content;
                        display: flex;
                        gap: 8px;

                        span {
                            &::after {
                                content: '\f061';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                font-size: 16px;
                                line-height: 14px;
                                color: $color-primary-700;
                            }
                        }
                    }
                }
            }

        }

        .enroll {

            .learndash-wrapper {
                form {
                    #btn-join {
                        &.btn-join {

                            &.learndash-button-free {
                                background-color: $color-secondary-500 !important;
                                width: fit-content;
                                padding: 24px;
                                text-transform: uppercase;
                                font-weight: 800;
                                line-height: 19px;
                                letter-spacing: 1.6px;
                                font-size: 16px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                gap: 8px;
                                color: $color-shades-white;
                                border: none;
                                border-radius: 0;
                            }
                        }
                    }

                }
            }

            .enroll-button {
                background: $color-secondary-500;

            }
        }

        .divider {
            width: 100%;
            border: none;
            height: 1px;
            background: #A9A9A9;
        }

        .introduction {


            .cfa-introduction-title {
                color: $color-primary-700;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 20px;
                font-family: Open Sans;
            }

            .cfa-introduction {
                color: $color-shades-black;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                font-family: Open Sans;

                a {
                    color: $color-primary-700;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }


        .carriculum {
            color: $color-shades-black;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-family: Open Sans;

            .title {
                .cfa-introduction-title {
                    color: $color-primary-700;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
            }

            .ld-item-list {
                margin: 0;
                padding: 0;

                .ld-section-heading {
                    display: none;
                }

                .ld-item-list-items {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .ld-item-list-item {
                        border: 1px solid $color-neutral-200;
                        border-radius: 0;
                        margin: 0;

                        .ld-item-list-item-preview {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;

                            .ld-item-name {
                                .ld-status-icon {
                                    display: none;
                                }

                                .ld-item-title {
                                    color: $color-shades-black;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;

                                    .ld-item-components {
                                        display: none;
                                    }
                                }
                            }

                            .ld-item-details {
                                .ld-expand-button {
                                    .ld-icon {
                                        color: $color-shades-black;
                                        background-color: $color-shades-white !important;
                                        border: none;
                                    }

                                    .ld-text {
                                        display: none;
                                    }
                                }
                            }

                        }

                        .ld-item-list-item-expanded {
                            background: $color-neutral-50;

                            &:before {
                                display: none;
                            }

                            .ld-table-list-header {
                                display: none;
                            }

                            .ld-table-list-items {
                                padding: 0;

                                .ld-table-list-item {
                                    margin: 0;
                                    padding: 0 20px;
                                    border-top: 1px solid $color-neutral-100;
                                    border-bottom: none;

                                    .ld-table-list-item-preview {
                                        .ld-topic-title {
                                            color: $color-shades-black;
                                            font-size: 18px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 28px;
                                            font-family: Open Sans;
                                        }

                                        .ld-status-icon {
                                            display: none;
                                        }

                                        .ld-item-title {
                                            color: $color-shades-black;
                                            font-size: 18px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 28px;
                                            font-family: Open Sans;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .instructor {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: Open Sans;

            .title {
                .cfa-introduction-title {
                    color: $color-primary-700;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                }
            }

            .name {
                color: $color-shades-black;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.36px;
                text-transform: capitalize;
            }

            .avatar {
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .description {
                color: $color-shades-black;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }
        }

        .organization {
            font-family: Open Sans;

            .title {
                .cfa-introduction-title {
                    color: $color-primary-700;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .item {
                    .name {
                        color: $color-shades-black;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: -0.36px;
                        margin-bottom: 20px;
                        text-transform: capitalize;
                    }

                    .avatar {
                        margin-bottom: 20px;

                        img {
                            width: 225pxpx;
                            height: 100px;
                        }
                    }

                    .description {
                        color: $color-shades-black;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }
            }
        }

        .enroll {
            text-align: center;
            font-family: Open Sans;

            &.left {
                text-align: left;
            }
        }

        .related {
            border: 1px solid $color-neutral-200;

            @include media-breakpoint-down(mobile) {
                border: none;
                margin: 0 -30px;
            }

            .accordion-parent {
                background: $color-shades-white;
                margin: 0;

                .accordion {
                    color: $color-primary-700;
                    font-family: Open Sans;
                    font-size: 33px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: -0.66px;


                    @include media-breakpoint-down(mobile) {
                        border-top: 1px solid $color-neutral-200;
                    }
                }

                .panel {
                    background: $color-shades-white;
                    display: flex;
                    flex-direction: column;
                    gap: 48px;

                    &.open {
                        padding: 24px;
                        max-height: unset;
                    }

                    .related-courses {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        .title {
                            color: $color-primary-700;
                            font-family: Open Sans;
                            font-size: 33px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 40px;
                            letter-spacing: -0.66px;
                        }

                        .list {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 64px;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(tablet) {
        .wrapper {
            .enroll {
                text-align: left;
            }
        }

    }

    @include media-breakpoint-up(desktop) {
        display: flex;
        justify-content: center;

        .wrapper {
            padding: 80px 0;
            max-width: 1120px;
            gap: 40px;
            width: 960px;

            .title-section {
                .title {
                    display: flex;
                    justify-content: start;

                    .cfa-title {
                        font-size: 48px;
                        line-height: 60px;

                        &::after {
                            left: unset;
                            transform: unset;
                        }
                    }
                }

                .avatar {
                    display: block;
                }
            }

            .description {
                font-size: 18px;
                line-height: 28px;
            }

            .certificate-text {
                font-size: 18px;
                line-height: 28px;
            }

            .introduction {
                .cfa-introduction-title {
                    font-size: 33px;
                    line-height: 40px;
                    letter-spacing: -0.66px;
                }
            }

            .carriculum {
                .title {
                    .cfa-introduction-title {
                        font-size: 33px;
                        line-height: 40px;
                        letter-spacing: -0.66px;
                    }
                }
            }

            .instructor {
                .title {
                    .cfa-introduction-title {
                        font-size: 33px;
                        line-height: 40px;
                        letter-spacing: -0.66px;
                    }
                }
            }

            .organization {
                .title {
                    .cfa-introduction-title {
                        font-size: 33px;
                        line-height: 40px;
                        letter-spacing: -0.66px;
                    }
                }
            }
        }
    }


    @include media-breakpoint-up(desktop) {
        .wrapper {
            width: 1120px;
        }
    }

}