@use "../abstracts/" as *;

.certificate {
  flex: 1;
  background: $color-shades-white;
  box-shadow: 0px 5.74648px 9.57746px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: 312px;
  align-self: center;

  .certificate-content {
    padding: 15px 18px 0;

    .certificate-content-header {
      p {
        font-size: 15px;
      }

      .divider,
      hr {
        background: $color-primary-700;
        height: 3px;
        flex: 1;
        margin: 5px 0;
      }

      .certificate-type {
        font-weight: bold;
      }

      .certificate-header-logo {
        display: flex;
        gap: 10px;

        .logo {
          width: 54px;
          height: 54px;
          margin-top: -20px;
        }
      }
    }
  }

  .certificate-footer {
    background: $color-primary-700;
    display: flex;
    justify-content: space-between;
    padding: 18px;

    .company-details {
      display: flex;
      gap: 10px;

      .brand-details {
        display: flex;
        gap: 5px;

        .logo {
          width: 16px;
          height: 16px;
        }

        .company-name {
          font-size: 5.616px;
          color: $color-neutral-50;
          font-weight: 600;
        }
      }

      .artwork {
        width: 28.364px;
        height: 16.456px;
      }
    }

    .signature {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .signature-img {
        width: 47px;
        height: 11px;
      }

      p {
        color: $color-shades-white;
        font-size: 4.368px;
        font-weight: 400;
        line-height: 5.616px;
      }

      .signee-role {
        text-transform: uppercase;
      }
    }
  }

  .certificate-site-name {
    background: $color-secondary-500;
    text-align: right;
    padding: 0px 18px;
    color: var(--shades-white, #fff);
    text-align: right;
    font-family: Open Sans;
    font-size: 4.789px;
    font-style: normal;
    font-weight: 400;
    line-height: 8.62px; /* 180% */
    p {
      color: $color-shades-white;
      font-size: 3.12px;
      font-weight: 400;
      line-height: 5.616px;
    }
  }

  .course-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .title {
      font-size: 5.616px;
      font-weight: 400;
      line-height: 8.736px;
    }

    .name {
      font-size: 9.98px;
      line-height: 14.976px;
      font-weight: 400;
    }

    .bold-text {
      font-weight: 700;
    }

    .student {
      text-align: left;
    }

    .course {
      text-align: right;
    }
  }
}

.cert-pdf {
  display: none;
  .certificate {
    .certificate-content {
      padding: 5px;
    }
    .certificate-footer {
      padding: 5px;
      .company-details .brand-details .company-name {
        line-height: 17px;
      }
    }
  }
  .certificate-site-name {
    padding: 0px 5px;
  }
}
