@use '../abstracts/' as *;

.footer {
  background-color: $color-primary;
  color: $color-shades-white;
  padding: 10rem 0;
  text-align: center;
  width: 100%;
  .footer__logo {
    width: 15rem;
    margin-bottom: 2rem;
  }
  .footer__nav {
    list-style: none;
    margin-bottom: 2rem;
    li {
      margin-bottom: 1rem;
      a {
        color: $color-shades-white;
        text-decoration: none;
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
  .footer__social-icons {
    list-style: none;
    margin-bottom: 2rem;
    li {
      display: inline-block;
      margin-right: 1rem;
      a {
        color: $color-shades-white;
        text-decoration: none;
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
  .footer__legal {
    font-size: 1.2rem;
  }
}