@use '../abstracts/' as *;

.header {
    width: 100vw;
    background-color: $color-primary-700;
    color: $color-shades-white;
    position: sticky;
    z-index: 9999;
    top: 0;

    .mobile {
        padding: 20px 24px;

        @include media-breakpoint-up(desktop) {
            display: none;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;

            .hamburger {
                display: flex;
                font-size: 24px;
            }

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .image {
                    img {
                        width: 39px;
                        height: 39px;
                    }
                }

                .site_name {
                    font-size: 18px;
                    font-weight: 700;

                    a {
                        color: $color-shades-white;
                    }
                }
            }

            .search {
                .icon {
                    font-size: 24px;
                }
            }
        }
    }

    .desktop {
        display: none;
        padding: 20px 60px;

        @include media-breakpoint-up(desktop) {
            display: block;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                min-width: 220px;

                .image {
                    img {
                        width: 52px;
                        height: 52px;
                    }
                }

                .site_name {
                    font-size: 18px;
                    font-weight: 600;
                    font-family: Open Sans;
                    font-style: normal;
                    line-height: 28px;

                    a {
                        color: $color-shades-white;
                    }
                }
            }

            .nav-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                min-width: 800px;
                max-width: 1032px;

                .search {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    form {
                        width: 100%;

                        .input {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;

                            input {
                                height: 40px;
                                border: none;
                                border-radius: 0;
                                padding: 0 20px;
                                outline: none;
                            }

                            button {
                                background: $color-primary-50;
                                color: $color-shades-white;
                                border: none;

                                .icon {
                                    color: $color-primary-700;
                                }

                                &:hover {
                                    background: $color-primary-50;
                                    color: $color-shades-white;
                                    border: none;
                                }
                            }
                        }
                    }
                }

                .menu {

                    .items {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        height: 100%;

                        .item {
                            font-size: 18px;
                            font-weight: 600;
                            text-transform: capitalize;
                            color: $color-shades-white;
                            cursor: pointer;
                            font-family: Open Sans;
                            line-height: 21.6px;
                            display: flex;
                            align-items: center;
                            padding: 10px;

                            &.parent {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .collapsible {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    gap: 6px;

                                    .icons {
                                        display: flex;

                                        .icon {
                                            margin: 0;
                                        }
                                    }
                                }

                                .children {
                                    display: none;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    background: $color-primary-700;
                                    color: $color-shades-white;

                                    &.open {
                                        display: flex;
                                        flex-direction: column;
                                        margin-top: 10px;
                                    }

                                    .item {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: start;
                                        padding: 10px;
                                        border: 1px solid $color-primary-700;
                                        color: $color-primary-700;
                                        background: $color-shades-white;
                                        font-size: 14px;
                                        line-height: 14px;
                                        font-weight: 400;
                                        padding: 10px;
                                        width: 120px;

                                        &:last-child {
                                            border-top: none;
                                        }

                                        &:hover {
                                            background: $color-primary-50;
                                        }
                                    }
                                }

                                // after has down arrow
                                &::after {
                                    content: '\f107';
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: 900;
                                    font-size: 16px;
                                    color: $color-shades-white;
                                    margin-left: 6px;
                                }

                                &.open {
                                    border-bottom: 1px solid $color-shades-white;

                                    &::after {
                                        content: '\f106';
                                    }
                                }
                            }

                            &.sign-in {
                                color: $color-primary-700;
                                background: $color-shades-white;
                                padding: 12px 16px;
                                text-transform: uppercase;
                                font-weight: 800;
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: 1.6px;
                                white-space: nowrap;
                            }

                            &.language-link {
                                font-size: 0;

                                &::before {
                                    content: '\f0ac';
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: 900;
                                    font-size: 24px;
                                    color: $color-shades-white;
                                }

                                &.open {
                                    border-bottom: none;
                                }
                            }

                            &.user-profile {
                                &::after {
                                    content: '';
                                }

                                &.open {
                                    border-bottom: none;

                                    &::after {
                                        content: '';
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        @include media-breakpoint-up(large) {
            padding: 20px 40px;

            .nav {
                gap: 58px;

                .nav-actions {
                    width: 1032px;
                    min-width: 880px;
                    max-width: 1032px;
                    justify-content: flex-end;
                    gap: 100px;
                }
            }
        }

        @include media-breakpoint-up(xlarge) {
            padding: 20px 60px;
            display: flex;
            justify-content: center;

            .nav {
                gap: 40px;
                width: 1440px;

                .nav-actions {
                    gap: 32px;
                }
            }
        }

    }

    .user-avatar {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: $color-primary-50;

        .usernames {
            font-size: xx-large;
            height: 100%;
            display: flex;
            align-items: center;
            color: $color-primary-700;
            text-transform: uppercase;
        }
    }
}


.drawer {
    display: none;
    width: 100vw;
    background-color: $color-primary-700;
    color: $color-shades-white;
    position: fixed;
    z-index: 99;

    &.open {
        display: flex;
    }

    .menu {
        color: $color-shades-white;
        width: 100vw;

        .items {
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                flex-direction: column;
                align-items: start;
                align-self: stretch;
                padding: 20px;
                background: $color-primary-700;
                box-shadow: 0px 1px 0px 0px #E2E8F0;
                border: 0.5px solid $color-shades-white;
                text-transform: uppercase;
                cursor: pointer;
                color: $color-shades-white;
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 800;
                line-height: 19px;
                letter-spacing: 1.6px;

                &.parent {
                    padding: 0;
                    padding-bottom: 0;

                    .collapsible {
                        padding: 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        gap: 20px;

                        .icon {
                            font-size: 24px;
                            color: $color-shades-white;
                        }

                        &::after {
                            content: '\f107';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            font-size: 16px;
                            color: $color-shades-white;
                            margin-left: 10px;
                        }
                    }

                    .children {
                        display: none;
                        flex-direction: column;
                        width: 100%;
                        background: $color-shades-white;

                        &.open {
                            display: flex;
                        }

                        .item {
                            background: $color-shades-white;
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid $color-primary-700;
                            color: $color-primary-700;
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 400;
                            text-transform: capitalize;

                            &:last-child {
                                border-bottom: none;
                            }

                            &:hover {
                                background: $color-primary-50;
                            }
                        }
                    }

                    &.open {
                        .collapsible {
                            &::after {
                                content: '\f106';
                            }
                        }

                        .children {
                            display: flex;
                        }
                    }
                }

                &.sign-in {
                    color: $color-primary-700;
                    background: $color-shades-white;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 1.6px;
                    order: -1;
                }

                &.user-profile {
                    order: -1;
                }
            }
        }
    }
}

.mobile-search {
    display: none;
    padding: 20px;
    background: $color-primary-50;
    width: 100%;

    &.open {
        display: block;
    }

    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-btn {
            border: none;
            background: $color-primary-700;
            color: $color-shades-white;
            padding: 10px;
            border-radius: 0;
            cursor: pointer;
            width: 44px;
        }

        input {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 0;
            padding: 0 20px;
            outline: none;
            color: $color-neutral-700;
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
        }

        .search-close-btn {
            border: none;
            background: $color-primary-50;
            color: $color-primary-700;
            padding: 10px;
            border-radius: 0;
            cursor: pointer;
            width: 44px;


            i {
                font-size: 24px;
                color: $color-primary-700;
            }
        }

    }
}