$color-primary: #1020E1;
$color-secondary: #ED1C24;
$color-text: #8C8FA5;
$color-accent: #10B981;
$color-primary-50: #EFF0FD;
$color-primary-100: #E0E2FC;
$color-primary-200: #B1B7F7;
$color-primary-300: #737FF2;
$color-primary-400: #4556EE;
$color-primary-500: #1020E1;
$color-primary-600: #1022A6;
$color-primary-700: #0C1A81;
$color-primary-800: #08125C;
$color-primary-900: #040A37;
$color-neutral-50: #F7F9FD;
$color-neutral-100: #E2E4EB;
$color-neutral-200: #CCCFDA;
$color-neutral-300: #B7BAC8;
$color-neutral-400: #A1A5B7;
$color-neutral-500: #8C8FA5;
$color-neutral-600: #767A94;
$color-neutral-700: #616582;
$color-neutral-800: #4B5071;
$color-neutral-900: #4B5071;
$color-secondary-50: #FEECED;
$color-secondary-100: #FBD9DB;
$color-secondary-200: #F8B3B7;
$color-secondary-300: #F48E93;
$color-secondary-400: #EF565E;
$color-secondary-500: #ED1C24;
$color-secondary-600: #B6131E;
$color-secondary-700: #8D0E16;
$color-secondary-800: #51070C;
$color-secondary-900: #3C0609;
$color-success-50: #ECFDF5;
$color-success-100: #D1FAE5;
$color-success-200: #A7F3D0;
$color-success-300: #6EE7B7;
$color-success-400: #34D399;
$color-success-500: #10B981;
$color-success-600: #059669;
$color-success-700: #047857;
$color-success-800: #065F46;
$color-success-900: #064E3B;
$color-warning-50: #FFFBEB;
$color-warning-100: #FEF3C7;
$color-warning-200: #FDE68A;
$color-warning-300: #FCD34D;
$color-warning-400: #FBBF24;
$color-warning-500: #F59E0B;
$color-warning-600: #D97706;
$color-warning-700: #B45309;
$color-warning-800: #92400E;
$color-warning-900: #78350F;
$color-shades-white: #FFFFFF;
$color-shades-black: #000000;