
.wysiwyg {
    font-family: Open Sans;
    h1 {
        font-size: 36px; /* Heading 1 */
        margin: 16px 0;
        font-weight: 900;
      }
      
      h2 {
        font-size: 28px; /* Heading 2 */
        margin: 14px 0;
        font-weight: 900;
      }
      
      h3 {
        font-size: 24px; /* Heading 3 */
        margin: 12px 0;
        font-weight: 900;
      }
      
      h4 {
        font-size: 18px; /* Heading 4 */
        margin: 10px 0;
        font-weight: 900;
      }
      
      h5 {
        font-size: 16px; /* Heading 5 */
        margin: 8px 0;
        font-weight: 900;
      }
      
      h6 {
        font-size: 14px; /* Heading 6 */
        margin: 6px 0;
        font-weight: 900;
      }
      
      em {
        font-style: italic;
      }
      
      p {
        margin: 10px 0;
      }

    strong {
        font-weight: 700 !important;
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: disc;
    }
}
