@use "./components/header";
@use "./components/footer";
@use "./components/checkbox";
@use "./components/pagination";
@use "./components/sidebar";
@use "./components/accordion";
@use "./components/title";
@use "./components/modal";
@use "./components/certificate";
@use "./components/wpbakery";


a {
    text-decoration: none !important;
}

body {
    font-family: "Open Sans" !important;

    #content {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
    }
}