@use "../abstracts/" as *;

.all-courses {
  font-family: Open Sans;

  &.d-none {
    display: none;
  }

  .courses-main {

    .course-grid {
      width: 100%;
      padding: 40px 24px;

      .cfa-title {
        text-align: left;
        margin-bottom: 50px;
        font-family: 'Ibarra Real Nova';

        &::after {
          left: unset;
          transform: unset;
        }
      }

      .filter-section {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media-breakpoint-up(desktop) {
          display: none;
        }

        .sort {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;

          .label {
            color: $color-shades-black;
          }

          .select {
            width: 200px;
            display: flex;
            height: 50px;
            padding: 15px 15px 0px 15px;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;
            align-self: stretch;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('../../../images/icons/arrow-down.svg') no-repeat right 15px center;

            .option {
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 600;
              line-height: 18px;
              color: $color-shades-black;
            }
          }
        }

        .filter {
          .filter-btn {
            width: 100%;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 19px;
            letter-spacing: 1.6px;
            text-transform: uppercase;
          }
        }
      }

      .course-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px 0;
        flex-wrap: wrap;
        margin-bottom: 30px;

      }

      .divider {
        display: none;
        background: #A9A9A9;
        border: none;
        height: 1px;
      }

      .pagination-container {
        justify-content: center;
        margin-top: 24px;

        .see-all {
          display: block;
          margin: 0;
          padding: 0;
          border: none;

          &:hover {
            background: none;
          }

          &:focus {
            outline: none;
          }
        }

        .pagination {
          display: none;
        }
      }
    }

    .career-dev {
      display: flex;
      padding: 40px 24px 80px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .title {
        color: $color-primary-700;
        font-family: Open Sans;
        font-size: 32px;
        font-style: normal; 
        font-weight: 700;
        line-height: 48px;
      }

      .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        align-self: stretch;

        @include media-breakpoint-up(tablet) {
          flex-direction: row;
          justify-content: space-between;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 48px;
          flex: 1;

          .text {
            color: $color-shades-black;
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
          }

          .cta {
            align-self: center;
          }
        }

        .sample-course {
          flex: 1;

          .pathway-link {
            .card {
              border: 0.5px solid $color-neutral-200;
              background-color: $color-primary-700;
              min-width: 280px;
              width: 280px;

              .course-card-pattern {
                background-image: url("../../../images/CourseCardPatterns.svg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 145px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                  width: 90px;
                  height: 90px;
                  background: $color-shades-white;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                }
              }

              .pathway-card-content {
                padding: 20px;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .pathway-name {
                  color: $color-shades-white;
                  margin: 0;
                  font-family: Open Sans;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                }

                .course-count {
                  margin: 0;
                  color: $color-shades-white;
                  font-family: Open Sans;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 21px;
                }
              }
            }
          }
        }
      }
    }

  }

  @include media-breakpoint-up(tablet) {
    .courses-main {
      .course-grid {
        padding: 40px 55px;

        .filter-section {
          flex-direction: row;
          justify-content: space-between;

          .sort {
            gap: 20px;
          }

        }

        .course-list {
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          gap: 36px;
        }
      }
    }
  }

  @include media-breakpoint-up(desktop) {
    display: flex;
    justify-content: flex-start;
    padding: 0;

    .courses-main {

      .course-grid {
        padding: 40px 60px 80px;
        width: 812px;

        .cfa-title {
          font-size: 48px;
          line-height: 60px;
        }

        .course-list {
          gap: 40px 70px;
          justify-content: space-between;
        }

        .divider {
          display: block;
        }

        .pagination-container {
          justify-content: flex-end;

          .see-all {
            display: none;
          }

          .pagination {
            display: flex;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(large) {
    .courses-main {

      .course-grid {
        width: 1100px;
      }
    }
  }
}