@use "../abstracts/" as *;

.all-courses {
  .filter-sidebar {
    .sidebar {
      height: 100%;
    }

    @include media-breakpoint-down(tablet) {
      display: none;
    }

    .mobile-filter {
      display: none;

      @include media-breakpoint-down(tablet) {
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
      }
    }
  }

  .courses-main {

    .course-grid {
      width: 100%;
      padding: 40px 24px;

      .cfa-title {
        text-align: left;
        margin-bottom: 50px;

        &::after {
          left: unset;
          transform: unset;
        }
      }

      .filter-section {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media-breakpoint-up(desktop) {
          display: none;
        }

        .sort {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: Open Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;

          .label {
            color: $color-shades-black;
            flex: 1;
          }

          .select {
            flex: 1;
            height: 50px;
            border: none;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
          }
        }

        .filter {
          .filter-btn {
            width: 100%;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 19px;
            letter-spacing: 1.6px;
            text-transform: uppercase;
          }
        }
      }

      .course-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px 0;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .course-card {
          .card {
            display: flex;
            flex-direction: column;
            width: 280px;
            border: 0.5px solid $color-neutral-200;
            background-color: $color-shades-white;
            align-self: stretch;

            .course-card-pattern {
              height: 200px;
              background: url('../../../images/CourseCardPatternDark.svg') no-repeat center center;
              background-size: cover;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
              }
            }

            .course-card-content {
              padding: 20px;
              // gap: 40px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 200px;

              .course-title {
                color: $color-primary-700;
                font-size: 18px;
                font-weight: 800;
                line-height: 24px;
              }

              .course-meta {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .course-author {
                  color: $color-secondary-500;
                  text-transform: uppercase;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 18px;
                }

                .course-details {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  .course-students {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .icon {
                      display: flex;
                      align-self: center;
                      justify-content: center;

                      &::before {
                        // outlined user icon
                        content: "\f007";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 16px;
                        color: $color-shades-black;
                      }
                    }

                    .value {
                      color: $color-shades-black;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 18px;
                    }
                  }

                  .course-price {
                    background: $color-success-500;
                    color: $color-shades-white;
                    height: 25px;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 10px;
                    min-width: 54px;
                  }
                }
              }
            }

          }
        }

      }

      .divider {
        display: none;
        background: #A9A9A9;
        border: none;
        height: 1px;
      }

      .pagination-container {
        justify-content: center;

        .see-all {
          display: block;
        }

        .pagination {
          display: none;
        }
      }
    }

  }

  @include media-breakpoint-up(tablet) {
    .courses-main {
      .course-grid {
        padding: 40px 55px;

        .course-list {
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          gap: 36px;
        }
      }
    }
  }

  @include media-breakpoint-up(desktop) {
    display: flex;
    justify-content: flex-start;
    padding: 0;

    .courses-main {

      .course-grid {
        padding: 40px 60px 80px;
        width: 812px;

        .cfa-title {
          font-size: 48px;
          line-height: 60px;
        }

        .course-list {
          gap: 40px 70px;
          justify-content: space-between;
        }

        .divider {
          display: block;
        }

        .pagination-container {
          justify-content: flex-end;

          .see-all {
            display: none;
          }

          .pagination {
            display: flex;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(large) {
    .courses-main {

      .course-grid {
        width: 1100px;
      }
    }
  }
}

.filter-modal {
  display: none;

  .filter-options {
    padding: 80px 60px;

    .mobile-filter {
      .filter-title {
        color: $color-shades-black;
        font-family: Open Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.56px;
        margin-bottom: 40px;
      }

      .filters {
        .actions {
          display: flex;
          justify-content: space-between;
          margin: 36px 0 40px;

          .clear-filters {
            border: none;
            color: $color-secondary-500;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .icon {
              display: flex;
              justify-content: center;
            }

            &:hover {
              color: $color-secondary-500;
              background: $color-secondary-50;
            }
          }
        }
      }

      .divider {
        border: none;
        height: 1px;
        background: $color-neutral-200;
      }

      .close {
        display: flex;
        justify-content: flex-end;

        .buttons {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          border: none;
          color: $color-shades-black;

          svg {
            align-self: center;
          }

          &:hover {
            color: $color-shades-black;
            background: $color-shades-white;
          }

        }
      }
    }
  }
}