@use "../abstracts/" as *;

.flex {
  display: flex;
}

.cfa-title {
  color: var(--primary-700, #0c1a81);

  /* Mobile Headings */
  font-family: Lora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: left;

  /* 120% */
  @include media-breakpoint-down(tablet) {
    font-size: 20px;
  }

  &::after {
    left: unset;
    transform: unset;
  }
}

.featured-courses {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .description {
    margin-top: 8px;
    color: $color-shades-black;
    max-width: 800px;

    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;

  }

  .featured-course-list {
    background: $color-shades-white;
    padding: 16px 0;
  }

  @include media-breakpoint-down(tablet) {
    .description {
      font-size: 14px;
      line-height: 18px;

    }
  }
}