@use "../abstracts/" as *;

.featured-courses {
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .featured-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title-description {
      .cfa-title {
        color: $color-primary-700;

        font-family: Lora;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        text-align: left;

        @include media-breakpoint-up(desktop) {
          font-size: 40px;
        }

        &::after {
          left: unset;
          transform: unset;
        }
      }
    }

    .description {
      margin-top: 8px;
      color: $color-shades-black;

      font-family: Open Sans;
      font-style: normal;
      font-weight: 400;

      font-size: 14px;
      line-height: 18px;
    }

    .featured-course-list {
      background: $color-shades-white;
      padding: 16px 0;
    }
  }

  .featured-certificate {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .certificate-root {
      background-color: $color-shades-white;

      p {
        color: $color-shades-black;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
      }

      .certificate-header {
        text-align: center;
      }

      .certificate-showcase {
        display: flex;
        flex-direction: column;
        background-color: $color-shades-white;
        gap: 40px;
        margin-top: 16px;

        .certificate {
        }

        .certificate-showcase-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;

          .showcase-header {
            display: none;
          }

          .showcase-text {
            color: $color-primary-700;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
          }

          .all-courses {
            margin-top: 10px;
          }
        }
      }

      @include media-breakpoint-up(tablet) {
        padding: 30px 16px;

        .certificate-header {
          width: 50%;
        }

        .certificate-showcase {
          flex-direction: row;
          align-items: center;
        }
      }

      @include media-breakpoint-up(desktop) {
        padding: 0;

        p {
          font-size: 24px;
          line-height: 36px;
        }

        .certificate-header {
          display: none;
        }

        .certificate-showcase {
          background: $color-neutral-50;
          width: 1144px;
          padding: 0 72px 72px;
          margin: 0;

          .certificate {
            width: 478px;

            .certificate-content {
              padding: 26px 29px 0;

              .certificate-content-header {
                p {
                  font-size: 22.986px;
                }

                .certificate-header-logo {
                  display: flex;
                  gap: 14px;

                  .logo {
                    width: 90px;
                    height: 90px;
                    margin-top: -40px;
                  }
                }
              }
            }

            .certificate-footer {
              padding: 29px;

              .company-details {
                .brand-details {
                  .logo {
                    width: 24px;
                    height: 24px;
                  }

                  .company-name {
                    font-size: 8.62px;
                  }
                }

                .artwork {
                  width: 43.534px;
                  height: 25.257px;
                }
              }

              .signature {
                .signature-img {
                  width: 72.557px;
                  height: 17.486px;
                }

                p {
                  color: $color-shades-white;
                  font-size: 6.704px;
                  line-height: 8.62px;
                }
              }
            }

            .certificate-site-name {
              p {
                font-size: 4.789px;
                line-height: 8.62px;
              }
            }

            .course-details {
              .title {
                font-size: 8.63px;
                line-height: 13.408px;
              }

              .name {
                font-size: 15.324px;
                line-height: 22.986px;
              }
            }
          }

          .certificate-showcase-content {
            .showcase-header {
              display: block;

              .certificate-header {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
              }
            }

            .showcase-text {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }

      @include media-breakpoint-up(large) {
        padding: 0 148px;

        .certificate-showcase {
          background: $color-shades-white;
        }
      }

      @include media-breakpoint-up(xlarge) {
        padding: 0 388px 72px;

        .certificate-showcase {
          background: $color-neutral-50;
        }
      }
    }

    @include media-breakpoint-up(desktop) {
      margin: 0;
    }
  }

  @include media-breakpoint-up(desktop) {
    .featured-content {
      .description {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  @include media-breakpoint-up(tablet) {
    padding: 30px 16px;

    .featured-content {
      align-self: center;
      width: 580px;

      #featured {
        .grid {
          .item:last-of-type {
            display: none;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(desktop) {
    padding: 72px 0 0;

    .featured-content {
      width: 100%;

      .title-description {
        width: 800px;
        margin-left: 40px;
      }

      .featured-course-list {
        padding: 72px 72px 84px;
        background: $color-neutral-50;
        width: 1144px;
        align-self: center;
      }

      #featured {
        .grid {
          .item:last-of-type {
            display: block;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(large) {
    padding: 80px 148px 0;

    .featured-content {
      .title-description {
        margin-left: 0;
      }

      .featured-course-list {
        background: $color-shades-white;
      }
    }
  }

  @include media-breakpoint-up(xlarge) {
    padding: 80px 388px 0;

    .featured-content {
      .featured-course-list {
        background: $color-neutral-50;
      }
    }
  }
}
