@use "../abstracts/" as *;

$font-family_1: Open Sans;
$font-family_2: Lora;

.learning-pathways {
  padding: 60px 30px;
  background: $color-neutral-50;

  .title {
    .cfa-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;

      &::after {
        left: unset;
        transform: unset;
      }
    }
  }

  .description {
    color: $color-shades-black;
    font-family: $font-family_1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 554px;
    margin: 32px 0;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    .card {
      border: 0.5px solid $color-neutral-200;
      background-color: $color-primary-700;
      min-width: 280px;
      width: 280px;

      .course-card-pattern {
        background-image: url("../../../images/CourseCardPatterns.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 145px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 90px;
          height: 90px;
          background: $color-shades-white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .pathway-card-content {
        padding: 20px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .pathway-name {
          color: $color-shades-white;
          margin: 0;
          font-family: $font-family_1;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }

        .course-count {
          margin: 0;
          color: $color-shades-white;
          font-family: $font-family_1;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }
  }

  .divider {
    display: none;
    background: #a9a9a9;
    border: none;
    height: 1px;
  }

  .pagination-container {
    justify-content: center;

    .see-all {
      display: block;
    }

    .pagination {
      display: none;
    }
  }

  @include media-breakpoint-up(tablet) {
    .content {
      gap: 30px;
    }
  }

  @include media-breakpoint-up(desktop) {
    padding: 80px 60px 40px;
    background: $color-shades-white;
    width: 812px;

    .title {
      .cfa-title {
        font-size: 48px;
        line-height: 60px;
      }
    }

    .content {
      justify-content: flex-start;
      gap: 40px 70px;
    }

    .divider {
      display: block;
    }

    .pagination-container {
      justify-content: flex-end;

      .see-all {
        display: none;
      }

      .pagination {
        display: flex;
      }
    }
  }

  @include media-breakpoint-up(large) {
    width: 1100px;
  }
}
