@use "../abstracts/" as *;


.patners-root {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .partners {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .cfa-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;

        &::after {
          left: unset;
          transform: unset;
        }
      }
    }


    .partner-content {
      display: flex;
      padding: 16px;
      padding-bottom: 0;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      align-self: center;
      row-gap: 40px;
      column-gap: 36px;
      flex-wrap: wrap;

      .partner {
        display: flex;
        flex: 1;
        flex-basis: calc(50% - 36px);
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 120px;
        height: 69px;
        background-blend-mode: luminosity;

        .partner-image {
          width: 120px;
          height: 69px;
          object-fit: cover;
        }
      }
    }
  }

  hr {
    height: 1px;
    background: #CCCFDA;
    margin: 0 16px
  }

  .other-partners {
    width: 267px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .other-partners-title {
      color: $color-shades-black;
      text-align: center;
      font-family: Open Sans;
      font-style: normal;
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;

      @include media-breakpoint-up(desktop) {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
      }
    }

    .other-partners-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 16px;
      align-self: stretch;
      flex-wrap: wrap;
    }

    .partner-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .partner-tag-content {
        padding: 5px 0;
        font-family: Open Sans;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }
  }

  @include media-breakpoint-up(tablet) {
    padding: 20px 16px;
    gap: 20px;

    .partners {
      gap: 20px;

      .title {
        justify-content: center;

        .cfa-title {
          &::after {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      .partner-content {
        justify-content: center;
        padding: 0;

        .partner {
          width: 170px;
          height: 97px;
          flex-basis: calc(33.33% - 36px);
        }
      }
    }

    .other-partners {
      width: 100%;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .other-partners-content {
        justify-content: center;
      }
    }
  }
}