@use "../abstracts/" as *;

.partners {
  padding: 40px 20px;

  .cfa-title {
    color: var(--primary-700, #0c1a81);

    h4 {
      margin: 0;
    }
  }

  .partner-content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 40px;
    flex-wrap: wrap;

    .partner {
      display: flex;
      flex: 1;
      width: 100%;
      flex-basis: calc(33.333333% - 36px);
      justify-content: center;
      align-items: center;
      align-content: center;

      .partner-image {
        width: 295px;
        height: 170px;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
      }
    }
  }
}

.other-partners {
  padding: 40px 20px;

  .other-partners-title {
    color: $color-shades-black;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 32px;

    @include media-breakpoint-down(tablet) {
      font-size: 18px;
      line-height: 24px;
      font-weight: 800;
    }
  }

  .other-partners-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .partner-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .partner-tag-content {
      border: 0.2px solid #eeeeee;
      background: $color-neutral-50;
      padding: 5px 16px;
      font-family: Open Sans;
    }
  }
}